:root {
    --gray: #DFDFDE;
    --white: #F7F5F2;
    --noideawhichcolor: #8D8DAA
}

* {
    margin: 0;
}

body {
    background: linear-gradient(180deg, #e3e3e3 0%, #6b6b6b 100%);
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
    height: 100%;
}

.intro__image {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
    border-radius: 30px;
    /* opacity: 0.8; */
}

.viewheight-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
}